.container {
  width: 80%;
  margin: 0 auto 0;
}

form {
  width: 80%;
  margin-left: 270px;
  position: relative;
}

.todoItems {
  display: flex;
  justify-content: space-around;

  border: 1px solid #ddd;
  padding: 10px 67px;
}

input {
  width: 60%;
  height: 30px;
}

.enter-todo-btn {
  height: 36px;
}

.todoLabels {
  display: flex;
  justify-content: space-around;
  margin: 10px 5px;
  justify-content: space-evenly;
}

.todoDescription {
  position: relative;
  right: 150px;
}

.todoStatus {
  display: flex;
  position: relative;
}
